GARMINVIEW_DB_BACKEND=sqlite
GARMINVIEW_DB_PATH=garminview.db
# For MariaDB:
# GARMINVIEW_DB_BACKEND=mariadb
# GARMINVIEW_DB_URL=user:password@localhost:3306/garminview
GARMINVIEW_HEALTH_DATA_DIR=~/HealthData
GARMINVIEW_LOG_LEVEL=INFO
GARMINVIEW_SECRET_KEY=change-me
